{% extends 'base.html' %}

{% block content %}
    {% for card in deck %}
        <article class="post">
            <header>
       
                <div>
                    <h1>{{ card['front_card'] }} :::: {{ card['back_card'] }}</h1>
                
                </div>
            </header>
            
        </article>
        {% if not loop.last %}
        <div>
            <a  href="{{url_for('decks.delete_card', deck_id=card['deck_id'], card_id=card['id'])}}">Delete</a>
        </div>
            
            
           
        {% endif %}
        
    {% endfor %}
    <hr>
    <div>
        <a  href="{{url_for('decks.add_card', deck_id=id)}}">Add Card</a>
    </div>
{% endblock %}