{% extends 'base.html' %}

{% block content %}
    {% for card in deck %}
        <article class="post">
            <header>
       
                <div>
                    <h1>{{ card['front_card'] }}  {{ card['back_card'] }}</h1>
                
                </div>
            </header>
            
        </article>
        {% if not loop.last %}
            <h1>SPAM</h1>
            
            <hr>
           
        {% endif %}
        
    {% endfor %}
    <div>
        <a  href="{{url_for('decks.add_card', deck_id=1)}}">Add Card</a>
    </div>
{% endblock %}